<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <style type="text/css">

        form{
        text-align:center;
        }
    </style>
</head>

<body>
<!-- add -->

<form action="/login" method="post">
    <label for="name-id">用户名</label>
    <input id="name-id" type="text" name="name">
    <br>
    <br>
    <label for="password-id">密&nbsp&nbsp&nbsp&nbsp码</label>
    <input id="password-id" type="password" name="password">
    <br>
    <br>
    <button type="submit">确定</button>
</form>

</body>

</html>
