<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>dodoru</title>
    <style type="text/css">
        h1{
        font-size:32px;
        color:#f58220;
        text-align:center;
        }
        div{
        font-size:16px;
        color:#b7ba6b;
        text-align:right;
        }
    </style>
</head>
<body>
<h1>DODORU</h1>

<div id="user_info">
    <!--     <a href="./login.html">LOGIN</a>
    <a href="./sign.html">SIGN</a> -->
    <!-- 这里的链接地址是route参数中的地址 -->
    <a href="./problems">题库</a>
    {% if username %}
    <a href="./settings/{{ username }}">设置</a>
    <a href="./login">退出</a>
    {% else %}
    <a href="./login">LOGIN</a>
    <a href="./sign">SIGN</a>
    <a href="./retrieve_password">找回密码</a>
    {% endif %}
</div>

</body>
</html>
