<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title>Problems list</title>
</head>

<body>
<!-- view -->
<h1>{{ problem.problem_title }} </h1>
<br>
<h6> 发布人：{{ problem.problem_creator }}</h6>
<br>

<p>{{ problem.problem_detail}} </p>
<br>
<hr>
<h4> come on,baby ♥ ~ create your solution </h4>
<br>

<!-- add -->
<form action="/problems_list/<problem_id>" method="post">
    <label for="solution_creator">答题者</label>
    <input id="solution_creator" type="text" size="50" name="solution_creator" required="required">
    <br>
    <br>
    <label for="solution_detail">你的答案</label>
    <br>
    <textarea id="solution_detail" name="solution_detail" cols="80" rows="10"></textarea>
    <br>
    <br>
    <button type="submit">post</button>
</form>
</body>

</html>
