<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <title>Problems list</title>
</head>

<body>
<!-- view -->
<h1>Welcome to the Sea of Problems ~ </h1>
<hr>

<table>
    <!-- title -->
    <!-- contents -->
    {% if problems %}
        <tr>
            <th>题目</th>
            <th>题目描述</th>
            <th>发布人</th>
      </tr>
        {% for problem in problems %}
            <tr>
            <td>{{ problem.problem_title }}</td>
            <td>{{ problem.problem_detail }}</td>
            <td>{{ problem.problem_creator }}</td>
            </tr>

        {% endfor %}
    {% endif %}

</table>

<!-- add -->
<form action="/problems_list" method="post">
    <label for="problem_title">题目</label>
    <input id="problem_title" type="text" size="50" name="problem_title" required="required">
    <br>
    <br>


    <label for="problem_detail">题目描述</label>
    <br>
    <textarea id="problem_detail" name="problem_detail" cols="80" rows="10"></textarea>
    <br>
    <label for="problem_creator">发布者</label>
    <input id="problem_creator" name="problem_creator">
    <br>


    <button type="submit">post</button>
</form>
</body>

</html>
